* {
    padding: 0;
    margin: 0;  
    box-sizing: border-box; 
}

body{
    height: 100vh;
    width: 100vw;
}
/* header logo nav- bar*/
header {
background-color: #1f2937 ;
height: 36%;
}
img{
    height:100px;
    width: 380px;
}

.logo-link{
display: flex;
justify-content: space-between;
align-items: end;
color: white;
/*border: 5px solid white;*/
height:13%;
width: 60%;
margin-left:15% ;
font-family: 'Hero New', sans-serif;
}
h1{
    display: flex;
    margin: 10px;
    font-size: 20px;
}
ul{ display: flex;
    list-style-type: none;
    gap: 18px;
    font-size: 14px;
    
}
a{
    justify-content: space-around;
    font-family: 'Hero New', sans-serif;
}

/* header image and text part*/
.text-image{
    display: flex;
    width:60%;
    height: 50%;
    margin-left: 15%;
}
.h1-button{
display: flex;
flex-direction: column;
font-family: 'Hero New', sans-serif;
color: white;

}
.h1-button h1{
    width: 70%;
    font-size: 36px;
    font-weight: 800;
    color:#f9faf8;
    margin-left: 15px;
    margin-top: 10px;
    margin-right: 20px;


}
.h1-button h3{
    width:60%;
    flex-wrap: wrap;
    font-size: 18px;
    color: #e5e7eb;
    margin-left: 15px;
  margin-bottom: 20px;
}

 .h1-button button{
    width:20% ;
    height: 40px;
    border: 2px solid #3882f6;
    background-color:#3882f6;
    border-radius: 7px;
    color:  white;
    font-size: 15px;
    padding:5px;
    margin-top: 20px;
    margin-left: 15px;
    
}

img{
    height:200px;
    width: 360px;
    margin-top: 15px;
    margin-left: 5px;
}
/* main content*/
.main-content{
    height: 20%;
    
}
.main-content h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Hero New', sans-serif; 
    font-size: 30px;
    font-weight: 800;
    color: #1F2937;
}
.box-container{
    display: flex;
    justify-content: center;
    height: 79%;
    gap: 30px;
}
.box1, .box2, .box3, .box4 {
border: 3px solid;
    border-color: #3882f6;
height: 90px;
width: 90px;
border-radius: 8px;
font-size: 10px;
}

.box-container h3{
    margin-top: 95px;
    width: 90px;
    padding-left: 9px;
    color: #46556b;
}
/* Another-content*/
.content-2{
    font-family: 'Hero New', sans-serif;
    font-weight: 100;
    margin-top: 10px;
    height: 15%;
    background-color: #e5e7eb;
    display: flex;
    flex-wrap: wrap;

   
}

.head-1{
    
    font-family: 'Hero New', sans-serif;
    font-size:36px;
    font-style:italic;
    font-weight:lighter;
    color:#1f2937 ;
    width: 60%;
    margin-left:20% ; 
}
.head-2{  
margin-left:-20px;
width:250px;
margin-left:66.5%;
}
.content-3 {
margin-left: 15%;
background-color: #3882f6;
height: 17%;
width: 62%;

}
.content3-child{
    
    width: 70%;
display: flex;
flex-direction: column;
flex-wrap: wrap;
margin-top: 10px;
margin-left: 70px;
padding-top: 50px;
padding-left: 60px;

}
.signup{
    margin-top: -20px;
    align-self: flex-end;
}

.p1{
    font-family: 'Hero New', sans-serif;
    font-size: 18px;
    font-weight: 800;
    color: white; 
    margin-top: 10px;
    margin-bottom: -20px;   
}
.p2{
    width: 70%;
    margin-top: 25px;
    margin-bottom: -5px;
    color:white ;
}
.signup button{
    background-color: #3882f6;
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    padding:3px;
    font-size: 16px;
    width: 90px;

}



.foot{
    display: flex;
    justify-content: center;
    font-family: 'Hero New', sans-serif;
    color: white;
    font-size: 18px;
    font-weight: 300;
    width: 100%;
    height: 80px;
    margin-top: 25px;
    background-color: #1F2937;
}

.foot p{
    margin-top: 20px;
}

